body {
    margin-top:10px;
    background: url(https://storage.googleapis.com/zagat-user/matador_room_press_033616.jpg)
    no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    
}


/* animate css */

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}































































.head{
  text-align: center;
  color: #fff;
  font-family: cursive;
  margin-bottom: 10%;
}

.container{
  width: 70%;
  margin: auto;
  overflow: hidden;
  margin-top: 3%;
}

showcase h1{
  color: #fff;
  font-family: cursive;
  text-align: center;
}

showcase h3{
  color: white;
  font-family: cursive;
  text-align: center;
  letter-spacing: 2px;
}

.category{
  color: #fff;
  margin-top: 5%;
  display: flex;
  text-align: center;
  font-family: cursive;
  
}

img{
  width: 70%;
  height: 30%;
  border-radius: 50%;
}

.jollof, .mushroom{
  padding: 0% 5%;
}

h4{
  font-size:1.5rem; /* 1rem = 16px */
  margin: 3%;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
 {

.slider{
  display: none;
}
#layout{
  color: #f1f1f1;
  position: relative;
  left: 15%;
  
}

 }










.click{
  background-color: gold;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  margin-left: 40%;
  color: #fff;
  font-size: 15px;
}



/* For contact Form */

.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: gold;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}


/* for about page */

.center{
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#aboutus h2{margin-bottom: 25px;}

.img-wrap{width: 100%; margin-top: 20%;}
.img-wrap img{width: 100%; padding: 10px; border-radius: 50%;box-shadow: 0 0 10px #fff;}




















































.topnav {
   
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    
    color: gold;
  }

  .topnav .icon {
    display: none;
  }









  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }



    .category {
      display: none;
    }

    












    .slider{
      height: 300px;
      width: 100%;
      background-image: url('https://www.allnigerianrecipes.com/wp-content/uploads/2019/03/leafy-jollof-rice.jpg') ;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      display: block;
      
    }
    
    .sliderchild
    {
      height: 300px;
      width: 500%;
      
      animation: slider infinite 20s 2s;
    }
    
    
    .imagecon{
      height: 300px;
      width: 20%;
      background-color: grey;
      float: left;
      line-height: 300px;
      text-align: center;
      font-size: 40px;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .imagecon:nth-child(1){
      background-image: url('https://images.media-allrecipes.com/userphotos/600x600/2032146.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    
    .imagecon:nth-child(2){
      background-image: url('https://www.allnigerianrecipes.com/wp-content/uploads/2019/03/leafy-jollof-rice.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .imagecon:nth-child(3){
      background-image: url('https://i.pinimg.com/originals/f1/6a/5d/f16a5d830a49d9658e62942551312e09.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .imagecon:nth-child(4){
      background-image: url('https://images.media-allrecipes.com/userphotos/600x600/2032146.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    @keyframes slider 
    {
      12.5%
      {
        margin-left: -100%;
      }
      25%
      {
        margin-left: -100%;
      }
      37.5% 
      {
        margin-left: -200%;
      }
      50% 
      {
        margin-left: -200%;
      }
      62.5% 
      {
        margin-left: -300%;
      }
      75% 
      {
        margin-left: -300%;
      }
      87.5% 
      {
        margin-left: -400%;
       
      }
      100% 
      {
        margin-left: -400%;
      }
    
    }




    .click{
      background-color: gold;
      padding: 1rem;
      border: none;
      border-radius: 8px;
      margin-left: 35%;
      color: white;
      font-size: 15px;
      margin-top: 20px;
    }
    .respond{
      font-size: 15px;
    }

    #layout{
      background-color: antiquewhite;
      
    }





  }